*{
    box-sizing: border-box;
}

.box {
    width: 500px;
    height: 500px;
    border: 2px solid red;
}

.elem {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.btn-block {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: grey;
}
button {
    padding: 20px 40px 20px 40px;
    background-color: yellow;
}